<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


<entry key="selectList">

SELECT 
        QUIZE_NO
        , QUIZE_TITLE
        , QUIZE_CONTENT
        , VOTE
        , CREATE_DATE
        , TO_CHAR(TRUNC(SYSDATE - END_DATE)) DEADLINE
        , CHOICE1
        , CHOICE2
        , CHOICE3
        , CHOICE4
	FROM
        TB_QUIZE_BOARD 
    ORDER BY
        CREATE_DATE DESC

</entry>

<entry key="detailQuize">

	SELECT 
        	ANSWER, ANSWER_DETAIL, QUIZE_TITLE
    	FROM 
        	TB_QUIZE_ANSWER
        JOIN 
        	TB_QUIZE_BOARD USING(QUIZE_NO) 
    	WHERE 
        	QUIZE_NO = ?
        
</entry>

<entry key="quizeChoice">

INSERT 
		INTO 
			TB_QUIZE_CHOICE 
							(
							QUIZE_NO
							, MEM_NO
							, CHOICE
							) 
					VALUES
							(
							?
							,?
							,?
							)
						
</entry>


</properties>

