<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


<entry key="selectList">

SELECT 
        QUIZE_NO
        , QUIZE_TITLE
        , QUIZE_CONTENT
        , VOTE
        , CREATE_DATE
        , END_DATE
        , CHOICE1
        , CHOICE2
        , CHOICE3
        , CHOICE4
	FROM
        TB_QUIZE_BOARD 
    ORDER BY
        CREATE_DATE DESC

</entry>



</properties>

