.outer{
    width: 1800px;
    margin-left: 50px;
}

/*상단 네비*/
#navi{
    height: 100px;
}

/*하단 내용 영역을 감싸는 div*/
.content{
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#cou_navi{
    height: 1000px;
}

.left-menu{
    margin-left: 200px;
}

/*클리닉 예약하기 버튼 영역*/
#res-btn > button{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*클리닉 정보 출력 영역 div*/
#cli-content {
    width: 1000px;
    margin-left: 100px;
    height: auto;
}

/*클리닉 간단 정보 출력 영역 div*/
#cli-top{
    height: auto;
    border: 1px solid;
}

#cli-top > h4{ 
    margin-top: 30px;
}

#cli-top > p{
    margin-top: 30px;
}

#cli-top > *{
    margin-left: 10px;
}

/*클리닉 상세 정보 출력 영역 div*/
#cli-middle{
    height: auto;
    border: 1px solid;
    padding-top: 20px;
    padding-left: 20px;
}

/*클리닉 후기 출력 영역 div*/
#cli-bottom{
    border: 1px solid;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
}

/*모달*/
.modal{
    margin-top: 100px;
}

/*모달 별점*/
#scope fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}

#scope fieldset legend{
    text-align: right;
}

#scope input[type=radio]{
    display: none;
}

#scope label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}

#scope label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#scope label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#scope input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#reviewContents {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

/*모달 리뷰 내용*/
#revContent{
    width: 450px;
}
  
/*리뷰 출력*/
#rev-list{
    list-style: none;
}

#cli-top > span{
    vertical-align: middle;
}

.rev-content{
    border: 1px solid;
    border-radius: 5px;
    width: 900px;
    margin-top: 20px;
}

.revScope{
    width: auto;
}

.revScope > span{
    vertical-align: middle;
    margin-right: 5px;
}

#rev-top > *{
    float: left;
}

#rev-top{
    height: 50px;
}

#rev-top > h4{
    line-height: 50px;
}

#rev-top > button{
    margin-left: 10px;
    margin-top: 5px;
}

