.outer{
    /*border: 1px solid red;*/
    width: 1800px;
    margin-left: 50px;
}

#navi{
    background-color: white;
    margin-bottom: 100px;
}

.content > div{
    float: left;
}

/*하단 내용 영역을 감싸는 div*/
.content{
    margin-top: 50px;
    height: 2500px;
}

#cou_navi{
    height: 2300px;
}

#cou-video{
    background-color: skyblue;
    font-weight: 800;
    pointer-events: none;
}

.left-menu{
    margin-left: 200px;
}

#enrollVideo{
    text-align: center;
}

/*비디오 목록*/
#video-list{
    width: 1000px;
    margin-left: 100px;
}

img{
    width: 450px;
    height: 280px;
}

.list-img, .list-des:hover{
    cursor: pointer;
}

/*내용 영역*/
.list-content{
    width: 1000px;
    border-radius: 10px;
    background-color: #1E376F;
    margin-top: 15px;
    color: white;
}

.list-des{
    margin-top: 10px;
}

.video-title{
    font-weight: 900;
}

/*페이징 처리 영역*/
.paging-area{
    width: auto;
}

#button-area> button{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    background-color: #1E376F;
    color: white;
    font-size: 12px;
}

/*수정 및 삭제 아이콘*/
.emoji{
    margin-right: 10px;
    margin-bottom: 5px;
}

.edit, .delete:hover{
    cursor: pointer;
}
