<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.DoctorLee.cli.model.vo.Category" alias="Category"/>
		<typeAlias type="com.kh.DoctorLee.cli.model.vo.Clinic" alias="Clinic"/>
		<typeAlias type="com.kh.DoctorLee.cli.model.vo.CliRes" alias="CliRes"/>
		<typeAlias type="com.kh.DoctorLee.cli.model.vo.CliResTime" alias="CliResTime" />
		<typeAlias type="com.kh.DoctorLee.cli.model.vo.CliRev" alias="CliRev"/>
	
		<typeAlias type="com.kh.DoctorLee.cou.model.vo.Cou" alias="Cou"/>
		<typeAlias type="com.kh.DoctorLee.cou.model.vo.CouCar" alias="CouCar"/>
		<typeAlias type="com.kh.DoctorLee.cou.model.vo.CouRes" alias="CouRes"/>
		<typeAlias type="com.kh.DoctorLee.cou.model.vo.CouResTime" alias="CouResTime"/>
		<typeAlias type="com.kh.DoctorLee.cou.model.vo.CouRev" alias="CouRev"/>
		<typeAlias type="com.kh.DoctorLee.cou.model.vo.CouVideo" alias="CouVideo"/>
		
		<typeAlias type="com.kh.DoctorLee.board.model.vo.Board" alias="Board"/>
		
		<typeAlias type="com.kh.DoctorLee.comment.model.vo.Comment" alias="Comment"/>
		
		<typeAlias type="com.kh.DoctorLee.message.model.vo.Message" alias="Message"/>
		
		<typeAlias type="com.kh.DoctorLee.quiz.model.vo.Quiz" alias="Quiz"/>
		<typeAlias type="com.kh.DoctorLee.quiz.model.vo.QuizAnswer" alias="QuizAnswer"/>
		<typeAlias type="com.kh.DoctorLee.quiz.model.vo.QuizChoice" alias="QuizChoice"/>
		
		<typeAlias type="com.kh.DoctorLee.hospital.model.vo.Hospital" alias="hospital"/>
		<typeAlias type="com.kh.DoctorLee.hospital.model.vo.Doctor" alias="doctor"/>
		<typeAlias type="com.kh.DoctorLee.reservation.model.vo.Reservation" alias="reservation"/>
		<typeAlias type="com.kh.DoctorLee.reservation.model.vo.GuestReservation" alias="guestReservation"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@192.168.30.21:1521:xe"/>
				<property name="username" value="LEE"/>
				<property name="password" value="LEE"/>
			</dataSource>			
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="/mapper/cou-mapper.xml"/>
		<mapper resource="/mapper/cli-mapper.xml"/>
		<mapper resource="/mapper/board-mapper.xml"/>
		<mapper resource="/mapper/message-mapper.xml"/>
		<mapper resource="/mapper/quiz-mapper.xml"/>
		<mapper resource="/mapper/comment-mapper.xml"/>		
		
		<mapper resource="/mapper/hospital/hospital-mapper.xml"/>
		<mapper resource="/mapper/hospital/doctor-mapper.xml"/>
		<mapper resource="/mapper/reservation/reservation-mapper.xml"/>
		<mapper resource="/mapper/reservation/guestReservation-mapper.xml"/>
	</mappers>
	
</configuration>