<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.DoctorLee.cli.model.vo.Category" alias="Category"/>
		<typeAlias type="com.kh.DoctorLee.cli.model.vo.Clinic" alias="Clinic"/>
		<typeAlias type="com.kh.DoctorLee.cli.model.vo.CliRes" alias="CliRes"/>
		<typeAlias type="com.kh.DoctorLee.cli.model.vo.CliResTime" alias="CliResTime" />
		<typeAlias type="com.kh.DoctorLee.cli.model.vo.CliRev" alias="CliRev"/>
	
		<typeAlias type="com.kh.DoctorLee.cou.model.vo.Cou" alias="Cou"/>
		<typeAlias type="com.kh.DoctorLee.cou.model.vo.CouCar" alias="CouCar"/>
		<typeAlias type="com.kh.DoctorLee.cou.model.vo.CouRes" alias="CouRes"/>
		<typeAlias type="com.kh.DoctorLee.cou.model.vo.CouResTime" alias="CouResTime"/>
		<typeAlias type="com.kh.DoctorLee.cou.model.vo.CouRev" alias="CouRev"/>
		<typeAlias type="com.kh.DoctorLee.cou.model.vo.CouVideo" alias="CouVideo"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@192.168.30.21:1521:xe"/>
				<property name="username" value="LEE"/>
				<property name="password" value="LEE"/>
			</dataSource>			
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="/mapper/cou-mapper.xml"/>
	</mappers>
	
</configuration>