@charset "UTF-8";

* {
	box-sizing: border-box;
}

body{
	margin : 0;
}

#header {
	width: 100vw;
	height: 120px;
}

main {
	width: 100%;
	height: auto; 
	line-height: 30px;
}

main > section, main > aside, main > div{
	float: left;
}

.aside {
	height: auto;
	float: left;
	margin : 20px auto;
	display: flex;
	justify-content: center;
	padding: 0;
}

#aside1{width :25%}

#aside2{width :15%}

#section{
	width: 60%;
	height: auto; 
	min-height: 1000px;
	float: left;
	padding: 20px;
}

#contentTitle{
	width : 100%;
	height : 100px;
	padding: 20px;
	font-size : 30px;
	font-weight: bold;
	line-height : 200%;
}

#content{
	width : 100%;
	height : auto;
}

article{
	width: 95%;
	height: auto;
	margin : 20px auto;
	border: 1px solid rgb(230, 230, 230); border-radius: 10px;
	padding: 20px 20px 0px 20px;
}

#quizeHeader {
	width: 100%;
	height: 70px;
	text-align: center;
	line-height: 70px;
}

#quizeHeader>div {
	float: left;
}

#title {
	width: 70%;
	height: 100%;
	font-size: 30px;
	font-weight : 600;
	text-align: left;
	padding-left: 20px;
}

#vote, #deadline {
	width: 15%;
	height: 100%;
}

#quizeContent {
	width: 100%;
	height: 300px;
	line-height: 30px;
	padding: 20px;
}

#quizeFooter {
	width: 100%;
	height:70px;
}

#quizeFooter  >div {
	float: left;
}

#quizeFooter1 {
	width: 75%;
	height: 100%;
	padding: 20px;
}

#quizeFooter2 {
	width: 25%;
	height: 100%;
	line-height: 85px;
	padding-left: 80px;
}

#page, #search{
	width : 100%;
	height : 100px;
	padding: 20px;
	text-align: center;
}

footer {
	width: 100%;
	height: auto;
}

form{
	padding: 20px 0px;
}

.buttonAnswerCheck {
	text-decoration: none;
	color: #007bff;
	padding-left : 50px;
}

