<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectListCount">
	 	
	 SELECT 
	 		COUNT(*) 
	 	FROM 
	 		TB_QUIZ_BOARD 
 
</entry>


<entry key="selectList">

	 SELECT *
 		FROM(
			SELECT ROWNUM RNUM, A.*
	  			FROM(
		  			SELECT 	
					        QUIZ_NO
					        , QUIZ_TITLE
					        , QUIZ_CONTENT
					        , VOTE
					        , CREATE_DATE
					        , TO_CHAR(TRUNC(END_DATE - SYSDATE)) DEADLINE
					        , CHOICE1
					        , CHOICE2
					        , CHOICE3
					        , CHOICE4
						FROM
			        		TB_QUIZ_BOARD 
			    		ORDER BY
			        		DEADLINE DESC) A )
 		WHERE 
 			RNUM BETWEEN ? AND ?

</entry>


<entry key="detailQuiz">

	SELECT 
        	ANSWER, ANSWER_DETAIL, QUIZ_TITLE
    	FROM 
        	TB_QUIZ_ANSWER
        JOIN 
        	TB_QUIZ_BOARD USING(QUIZ_NO) 
    	WHERE 
        	QUIZ_NO = ?
        
</entry>


 <entry key="increaseVote">
 
	 UPDATE 
	 		TB_QUIZ_BOARD
	 	SET 
	 		VOTE = VOTE + 1 
	 	WHERE 
	 		QUIZ_NO = ?
	 
 </entry>


<entry key="quizChoice">

	INSERT 
			INTO 
				TB_QUIZ_CHOICE 
								(
								QUIZ_NO
								, MEM_NO
								, CHOICE
								) 
						VALUES
								(
								?
								,?
								,?
								)
						
</entry>


<entry key="quizChoiceIsRight">

	SELECT 
        ANSWER
    FROM 
        TB_QUIZ_ANSWER
    WHERE 
        QUIZ_NO = ?   
        
    AND    
        ANSWER = ?

</entry>


 <entry key="quizGetPoint">
 	
	UPDATE 
			TB_MEMBER 
					SET 
						POINT = POINT + 500
					 WHERE 
					 	MEM_NO = ?
 
 </entry>
 
 
 <entry key="quizAnswerExist">
 
  	SELECT 
 			COUNT(*)
 		FROM 
 			TB_QUIZ_CHOICE 
 		WHERE 
 			MEM_NO = ?
 		AND
 			QUIZ_NO = ?

 </entry>


 
</properties>

