<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>

	<select id="selectListCount">
		 	
	 	SELECT 
	 		COUNT(*) 
	 	FROM 
	 		TB_MESSAGE 
	 	WHERE 
	 		STATUS = 'Y'
	 		
	</select>
	
	<select id="selectListCountreciever">
		 
		 SELECT 
	 		COUNT(*) 
	 	FROM 
	 		TB_MESSAGE 
	 	WHERE 
	 		STATUS = 'Y'
	 	AND
	 		RECEIVER = ?
 
	
	</select>
	
	<select id="selectListCountsender">
	
		 SELECT 
	 		COUNT(*) 
	 	FROM 
	 		TB_MESSAGE 
	 	WHERE 
	 		STATUS = 'Y'
	 	AND
	 		SENDER = ?
	
	</select>
	
	<select id="selectList">
	
	SELECT *
 		FROM(
			SELECT ROWNUM RNUM, A.*
	  			FROM(
		  				SELECT 
        MESSAGE_NO, MEM_ID, MESSAGE_TITLE, SEND_DATE, READ_STATUS
    FROM 
        TB_MESSAGE 
    JOIN 
        TB_MEMBER ON(MEM_NO = SENDER)
    WHERE 
        SENDER = ?
    AND 
        TB_MESSAGE.STATUS = 'Y'
        ORDER BY SEND_DATE DESC) A )
 		WHERE 
 			RNUM BETWEEN ? AND ?;   
	
	</select>
	
	<update id="updateReadStatus">
	
		UPDATE 
			TB_MESSAGE 
		SET 
			READ_STATUS = 'Y' 
		WHERE 
			MESSAGE_NO = ?
	
	</update>
	
	<select id="selectMessage">
	
	SELECT 
        MESSAGE_TITLE, MEM_ID, SEND_DATE, MESSAGE_CONTENT
        
    FROM
        TB_MESSAGE
    JOIN 
        TB_MEMBER ON(MEM_NO = RECEIVER)
    WHERE 
        MESSAGE_NO = ? 
    AND 
        TB_MESSAGE.STATUS = 'Y'
	
	</select>
	
	<select id="searchMember">
	
	    SELECT 
        	MEM_NO
        FROM 
            TB_MEMBER
        WHERE 
             MEM_ID = ?
	
	</select>
	
	<insert id="insertMessage">
	
	INSERT INTO
	            TB_MESSAGE 
	                    (
	                    MESSAGE_NO
	                    , SENDER
	                    , RECEIVER
	                    , MESSAGE_TITLE
	                    , MESSAGE_CONTENT
	                    )
	            VALUES 
	                    (
	                    SEQ_MESSAGE.NEXTVAL
	                    , ?
	                    , ?
	                    , ?
	                    , ?
	                    )
	</insert>
	
	<delete id="deleteMessage">
	
		UPDATE 
			TB_MESSAGE 
		SET
			STATUS = 'N'
		WHERE
			MESSAGE_NO = ?
	
	</delete>
	
	

</mapper>