<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd" >

<properties>
	<comment>예약 관련 SQL문</comment>

	<entry key="checkRsvtTreat">
		SELECT 
		      COUNT(*)
 		  FROM 
 		      TB_RESERVATION
 		 WHERE 
 		      RSVT_DATE = ?
   		   AND 
   		      RSVT_TIME = ?
	</entry>

	<entry key="insertRsvt">
		INSERT 
		  INTO 
		       TB_RESERVATION
		       (
		       RSVT_NO
,RSVT_DATE
,RSVT_TIME
,MEM_INFO
,RSVT_HOS
,RSVT_MEM
,RSVT_DOC
		       )
	    VALUES	
	    	  (
	    	  SEQ_RSVT_NO.NEXTVAL
	    	  ,?
	    	  ,?
	    	  ,?
	    	  ,?
	    	  ,?
	    	  ,?
	    	  )	  
	
	</entry>
	
	<entry key="selectRsvt">
		SELECT
		      RSVT_NO
		      ,RSVT_MEM
		      ,RSVT_DOC
		      ,RSVT_HOS
		      ,RSVT_DATE
		      ,RSVT_TIME
	   	 FROM
	   	      (SELECT
                       RSVT_NO
                      ,RSVT_MEM
                      ,RSVT_DOC
                      ,RSVT_HOS
                      ,RSVT_DATE
                      ,RSVT_TIME
                FROM
                      TB_RESERVATION
                WHERE
                      RSVT_MEM = ?
              ORDER
                 BY
                    RSVT_NO DESC
                      )
              WHERE ROWNUM = 1
	
	</entry>
	
</properties>