<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd" >

<properties>
	<comment>예약 관련 SQL문</comment>
	<entry key="selectRsvtDate">
		SELECT
		       RSVT_DATE
		       ,RSVT_TIME
		  FROM 
		       TB_RESERVATION
	     WHERE
	           RSVT_DATE = ?
	       AND 
	           RSVT_TIME = ?
	</entry>


	<entry key="insertRsvt">
		INSERT 
		  INTO 
		       TB_RESERVATION
	    VALUES	
	    	  (
	    	  SEQ_RSVT_NO.NEXTVAL
	    	  ,?
	    	  ,?
	    	  ,?
	    	  ,?
	    	  ,?
	    	  ,?
	    	  )	  
	
	</entry>
	<entry key="selectRsvt">
		<!-- 
		SELECT
		       RSVT_NO
		       ,RSVT_DATE
		       ,RSVT_TIME
		       ,MEM_INFO
		       ,RSVT_HOS
		       ,RSVT_MEM
		       ,RSVT_DOC
		 FROM
		       TB_RESERVATION
		WHERE
		       RSVT_MEM = ?
		-->
		SELECT
		       RSVT_NO
		       ,RSVT_DATE
		       ,RSVT_TIME
		       ,MEM_INFO
		       ,HOS_NAME
		       ,RSVT_MEM
		       ,DOCTOR_NAME
		 FROM
		       TB_RESERVATION
         JOIN
              TB_HOSPITAL ON(RSVT_HOS = HOS_NO)
         JOIN
              TB_DOCTOR ON(RSVT_DOC = DOCTOR_NO)
		WHERE
		       RSVT_MEM = ?
	</entry>
	
	<entry key="checkRsvtDate">
		SELECT
		       RSVT_DATE
		  FROM
		       TB_RESERVATION
	     WHERE
	           RSVT_DATE = ?
	
	</entry>
	
</properties>