<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd" >

<properties>
	<comment>예약 관련 SQL문</comment>

	<entry key="insertRsvt">
		INSERT 
		  INTO 
		       TB_RESERVATION
	    VALUES	
	    	  (
	    	  RSVT_NO.NEXTVAL
	    	  ,?
	    	  ,?
	    	  ,?
	    	  ,?
	    	  ,?
	    	  ,?
	    	  )	  
	
	</entry>
	
</properties>