<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectHospital">
		SELECT
			HOS_NAME
		FROM
			TB_HOSPITAL
		WHERE 
			HOS_NAME LIKE '%'||?||'%'
		
	</entry>
	<entry key="selectWord">
		SELECT
			HOS_NAME
		FROM
			TB_HOSPITAL
		WHERE
			HOS_NAME = ?
	</entry>
	<entry key="insertBookmark">
		INSERT INTO
			TB_BOOKMARK
		VALUES(
			?,
			?,
			SYSDATE
		)
	</entry>
	<entry key="selectBookmark">
		SELECT
			HOS_NAME
		FROM
			TB_BOOKMARK
		WHERE
			MEM_NO = ?
	</entry>
	<entry key="deleteBookmark">
		DELETE
			FROM TB_BOOKMARK
		WHERE
			HOS_NAME = ?
		AND
			MEM_NO = ?
	</entry>
</properties>