<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	
	
	<entry key="insertCliRev">
		INSERT
		  INTO
		  		TB_CLI_REV
		VALUES
				(
				SEQ_CLI_REV_NO.NEXTVAL,
				?,
				?,
				?,
				SYSDATE,
				?
				)		
	</entry>


	
</properties>