<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectCategoryList">
		SELECT 
				CATE_NO,
				CLI_CATE
		  FROM
		  		TB_CLI_CATE		
	</entry>
	
	<entry key="selectCliList">
		SELECT 
				CLI_NO, 
				HOS_NAME, 
				CLI_CATE, 
				CLI_NAME,
				CLI_PRICE, 
				ORIGIN_NAME, 
				CHANGE_NAME, 
				DES_PATH
		FROM 
				TB_CLI
		JOIN 	
				TB_CLI_CATE USING(CATE_NO)
		JOIN 
				TB_HOSPITAL USING(HOS_NO)
	    WHERE
	    		CATE_NO = ?				
	</entry>
	
	<entry key="selectCli">
		SELECT
				HOS_NAME,
				CLI_CATE,
				CLI_NAME,
				CLI_PRICE,
				ORIGIN_NAME, 
				CHANGE_NAME, 
				DES_PATH
		  FROM
		  		TB_CLI
		  JOIN
		  		TB_CLI_CATE USING(CATE_NO)
		  JOIN
		  		TB_HOSPITAL USING(HOS_NO)
		 WHERE
		 		CLI_NO = ? 								
	</entry>
	
	<entry key="selectCliDateList">
		SELECT
				DATE_NO,
				CLI_NO,
				CLI_DATE
		  FROM
		  		TB_CLI_DATE
		 WHERE
		 		CLI_NO = ? 				
	</entry>
</properties>