<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
	 	
	 	SELECT 
	 		COUNT(*) 
	 	FROM 
	 		TB_BOARD 
	 	WHERE 
	 		STATUS = 'Y'
 
	</entry>

	<entry key="selectList">

	SELECT
		BOARD_NO
		,BOARD_TITLE
		,TO_CHAR(CREATE_DATE,'YYYY/MM/DD') CREATE_DATE
		,VIEWS
		,FILE_NO
		,BOARD_NAME
	FROM
		TB_BOARD B
	JOIN 
		TB_BOARD_TYPE USING(BOARD_TYPE)
	WHERE
			B.STATUS = 'Y' 


	</entry>


	
</properties>