<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectBoard">

	SELECT
		BOARD_NO
		,BOARD_TITLE
		,CREATE_DATE
		,VIEWS
		,FILE_NO
		,BOARD_NAME 
	FROM
		TB_BOARD B
	JOIN 
		TB_BOARD_TYPE USING(BOARD_TYPE)
	WHERE
			B.STATUS = 'Y'
	ORDER BY
			B.CREATE_DATE DESC

	</entry>


	
</properties>