<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
	 	
	 	SELECT 
	 		COUNT(*) 
	 	FROM 
	 		TB_BOARD 
	 	WHERE 
	 		STATUS = 'Y'
 
	</entry>

	<entry key="selectList">

		SELECT *
		 		FROM(
					SELECT ROWNUM RNUM, A.*
			  			FROM(
		                    SELECT    
		                             BOARD_NO, BOARD_TYPE, NICKNAME, BOARD_TITLE, BOARD_CONTENT, TO_CHAR(B.CREATE_DATE,'YYYY/MM/DD')CREATE_DATE, VIEWS, B.STATUS 
		                      FROM 
		                             TB_BOARD B
		                     JOIN 
		                             TB_MEMBER ON(WRITER = MEM_NO)
		                        JOIN 
		                             TB_BOARD_TYPE USING(BOARD_TYPE)
		                        WHERE
		                             B.STATUS = 'Y'
		                     	AND  

	</entry>

	<entry key="insertBoard">
	
		INSERT 
		        INTO 
		            TB_BOARD 
		            (
		            BOARD_NO
		            , WRITER
		            , BOARD_TITLE
		            , BOARD_CONTENT
		            , BOARD_TYPE
		            )
		    VALUES 
		            (
		            SEQ_BOARD_NO.NEXTVAL
		            , ?
		            , ?
		            , ?
		            ,
	</entry>
	
	<entry key="selectBoard">
		SELECT
		          BOARD_NO
		         , BOARD_TYPE
		         , BOARD_NAME
		         , NICKNAME
		         , BOARD_TITLE
		         , BOARD_CONTENT
		         , TO_CHAR(B.CREATE_DATE,'YYYY/MM/DD HH24:MI')CREATE_DATE
		         , VIEWS
		         , BOARD_CONTENT
		         , (SELECT COUNT(*) FROM TB_LIKE WHERE BOARD_NO = ?) AS LIKES
		         , (SELECT COUNT(*) FROM TB_COMMENT WHERE BOARD_NO = ?) AS COMMENTS
		         , B.STATUS
		    FROM
		         TB_BOARD B 
		    JOIN
		          TB_MEMBER ON(WRITER = MEM_NO)
		    JOIN
		        TB_BOARD_TYPE USING(BOARD_TYPE)
		    WHERE
		          B.STATUS = 'Y'
		        AND
        	BOARD_NO = ?
	</entry>

	
</properties>