<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectVideoListCount">
		SELECT 
				COUNT(*)
		  FROM
		  		TB_COU_VIDEO
		  
	</entry>
	
	<entry key="selectVideoList">
		SELECT *
		  FROM (SELECT ROWNUM RNUM, A.*
				  FROM (SELECT
							   VIDEO_NO,
							   MEM_NO,
							   VIDEO_TITLE,
							   CHANNEL_NAME,
							   VIDEO_ADDRESS
						  FROM
							   TB_COU_VIDEO
					     ORDER
					   	    BY VIDEO_NO DESC) A)
		  WHERE RNUM BETWEEN ? AND ? 		
	</entry>
	
	<entry key="insertVideo">
		INSERT
		  INTO
		  		TB_COU_VIDEO
		VALUES 	
				(
				SEQ_CVIDEO_NO.NEXTVAL,
				1,
				?,
				?,
				?
				)	
	</entry>
	
	<entry key="selectCouVideo">
		SELECT
				VIDEO_NO,
				MEM_NO,
				VIDEO_TITLE,
				CHANNEL_NAME,
				VIDEO_ADDRESS
		  FROM
		  		TB_COU_VIDEO
		 WHERE
		 		VIDEO_NO = ? 				
	</entry>
	
	<entry key="updateCouVideo">
		UPDATE
		  		TB_COU_VIDEO
		   SET
		  		VIDEO_TITLE = ?,
		  		CHANNEL_NAME = ?,
		  		VIDEO_ADDRESS = ?
		WHERE
				VIDEO_NO = ?				
	</entry>
	
	<entry key="deleteVideo">
		DELETE
		  FROM
		  		TB_COU_VIDEO
		 WHERE
		 		VIDEO_NO = ? 		
	</entry>
	
	<entry key="selectRandVideo">
		SELECT
		  		VIDEO_NO,
		  		MEM_NO,
		  		VIDEO_TITLE,
		  		CHANNEL_NAME,
		  		VIDEO_ADDRESS
		  FROM
		  		TB_COU_VIDEO
		 ORDER
		    BY
		  		DBMS_RANDOM.VALUE		
	</entry>
</properties>

