<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectVideoListCount">
		SELECT 
				COUNT(*)
		  FROM
		  		TB_COU_VIDEO
		  
	</entry>
	
	<entry key="selectVideoList">
		SELECT *
		  FROM (SELECT ROWNUM RNUM, A.*
				  FROM (SELECT
							   VIDEO_NO,
							   MEM_NO,
							   VIDEO_TITLE,
							   CHANNEL_NAME,
							   VIDEO_ADDRESS
						  FROM
							   TB_COU_VIDEO
					     ORDER
					   	    BY VIDEO_NO DESC) A)
		  WHERE RNUM BETWEEN ? AND ? 		
	</entry>
	
	<entry key="insertVideo">
		INSERT
		  INTO
		  		TB_COU_VIDEO
		VALUES 	
				(
				SEQ_CVIDEO_NO.NEXTVAL,
				1,
				?,
				?,
				?
				)	
	</entry>
	
	<entry key="selectCouVideo">
		SELECT
				VIDEO_NO,
				MEM_NO,
				VIDEO_TITLE,
				CHANNEL_NAME,
				VIDEO_ADDRESS
		  FROM
		  		TB_COU_VIDEO
		 WHERE
		 		VIDEO_NO = ? 				
	</entry>
	
	<entry key="updateCouVideo">
		UPDATE
		  		TB_COU_VIDEO
		   SET
		  		VIDEO_TITLE = ?,
		  		CHANNEL_NAME = ?,
		  		VIDEO_ADDRESS = ?
		WHERE
				VIDEO_NO = ?				
	</entry>
	
	<entry key="deleteVideo">
		DELETE
		  FROM
		  		TB_COU_VIDEO
		 WHERE
		 		VIDEO_NO = ? 		
	</entry>
	
	<entry key="selectRandomVideo">
		SELECT
							   VIDEO_NO,
							   MEM_NO,
							   VIDEO_TITLE,
							   CHANNEL_NAME,
							   VIDEO_ADDRESS
						  FROM
							   TB_COU_VIDEO	
							   	
	</entry>
	
	<entry key="selectCouList">
		SELECT 
				ROUND(AVG(COU_SCOPE),1),
				COU_NO, 
				HOS_NAME, 
				COU_NAME,
                PHONE,
				ORIGIN_NAME, 
				CHANGE_NAME, 
				PROFILE_PATH,
                PRICE
		FROM 
				TB_COU
		JOIN 
				TB_HOSPITAL USING(HOS_NO)
		JOIN
				TB_COU_REV USING(COU_NO)
	    GROUP
	    BY
				COU_NO, 
				HOS_NAME, 
				COU_NAME,
                PHONE,
				ORIGIN_NAME, 
				CHANGE_NAME, 
				PROFILE_PATH,
                PRICE
        ORDER
        BY
                COU_NAME	
	</entry>
	
	<entry key="selectCou">
		SELECT
				COU_NO, 
				HOS_NAME, 
				COU_NAME, 
				PHONE,
				ORIGIN_NAME,
				CHANGE_NAME,
				PROFILE_PATH,
				PRICE
		FROM
				TB_COU
		JOIN
				TB_HOSPITAL USING(HOS_NO)		
		WHERE
				COU_NO = ?				
	</entry>
	
	<entry key="selectCouDate">
		SELECT
				DISTINCT COU_DATE
		FROM
				TB_COU_TIME
		WHERE
				COU_NO = ?				
	</entry>
	
	<entry key="selectCouTimeList">
	SELECT
				TIME_NO,
				COU_NO,
				COU_TIME,
				COU_DATE
		  FROM
		  		TB_COU_TIME
		 WHERE
		 		COU_NO = ?
		 AND
		 		COU_DATE = ?
		 AND
		 		COU_TIME NOT IN(
		 						SELECT
		 								RES_TIME
		 						  FROM
		 						  		TB_COU_RES
		 						 WHERE
		 						 		COU_NO = ?
		 						 AND
		 						 		RES_DATE = ?				
		 						)
		ORDER 
		   BY  TIME_NO
	</entry>
	
	<entry key="insertCouRes">
		INSERT
		INTO
				TB_COU_RES
		VALUES
				(
				SEQ_COU_RES_NO.NEXTVAL,
				?,
				?,
				?,
				?
				)
	</entry>
	
	<entry key="selectResMem">
		SELECT
				COUNT(*)
		FROM
				TB_COU_RES
		WHERE
				MEM_NO = ?
		AND
				COU_NO = ?		
	</entry>
	
	<entry key="insertCouRev">
		INSERT
		  INTO
		  		TB_COU_REV
		VALUES
				(
				SEQ_COU_REV_NO.NEXTVAL,
				?,
				?,
				?,
				SYSDATE,
				?
				)  		
	</entry>
	
	<entry key="selectCouRevList">
		SELECT 
				REV_NO, 
				COU_NO, 
				NICKNAME, 
				REV_CONTENT, 
				CR.CREATE_DATE, 
				COU_SCOPE
		  FROM 
		  		TB_COU_REV CR
		  JOIN
		  		TB_MEMBER
		  USING
		  		(MEM_NO)		
		  WHERE 
				COU_NO = ?
		ORDER 
		   BY   REV_NO DESC
	</entry>
	
	<entry key="selectRevCount">
		SELECT
				COUNT(*)
		FROM
				TB_COU_REV
		WHERE
				COU_NO = ?
		AND
				MEM_NO = ?						
	</entry>
	
	<entry key="selectCouCarList">
		SELECT
				CAR_NO,
				COU_NO,
				CAR_CONTENT
		FROM
				TB_COU_CAR
		WHERE
				COU_NO = ?				
	</entry>
</properties>

