<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quizMapper">

<select id="selectListCount" resultType="_int">
	 	
	 SELECT 
	 		COUNT(*) 
	 	FROM 
	 		TB_QUIZ_BOARD 
 
</select>


<select id="selectList" resultType="Quiz">


	SELECT 	
			QUIZ_NO
			, QUIZ_TITLE
			, QUIZ_CONTENT
			, VOTE
			, CREATE_DATE
			, TO_CHAR(TRUNC(END_DATE - SYSDATE)) DEADLINE
			, CHOICE1
			, CHOICE2
			, CHOICE3
			, CHOICE4
		FROM
			TB_QUIZ_BOARD 
		ORDER BY
			DEADLINE DESC

</select>


<select id="detailQuiz" parameterType="_int" resultType="QuizAnswer">

	SELECT 
        	ANSWER, ANSWER_DETAIL, QUIZ_TITLE
    	FROM 
        	TB_QUIZ_ANSWER
        JOIN 
        	TB_QUIZ_BOARD USING(QUIZ_NO) 
    	WHERE 
        	QUIZ_NO = #{quizNo}
        
</select>


<update id="increaseVote" parameterType="_int">
 
	 UPDATE 
	 		TB_QUIZ_BOARD
	 	SET 
	 		VOTE = VOTE + 1 
	 	WHERE 
	 		QUIZ_NO = #{quizNo}
	 
 </update>


<insert id="quizChoice" parameterType="Hashmap">

	INSERT 
			INTO 
				TB_QUIZ_CHOICE 
								(
								QUIZ_NO
								, MEM_NO
								, CHOICE
								) 
						VALUES
								(
								#{quizNo}
								,#{memNo}
								,#{choice}
								)
						
</insert>


<select id="quizChoiceIsRight" parameterType="Hashmap" resultType="_int">

	SELECT 
        COUNT(*)
    FROM 
        TB_QUIZ_ANSWER
    WHERE 
        QUIZ_NO = #{quizNo}  
        
    AND    
        ANSWER = #{answer}

</select>


 <update id="quizGetPoint" parameterType="_int">
 	
	UPDATE 
			TB_MEMBER 
					SET 
						POINT = POINT + 500
					 WHERE 
					 	MEM_NO = #{memNo}
 
 </update>
 
 
 <select id="quizAnswerExist" parameterType="Hashmap" resultType="_int">
 
  	SELECT 
 			COUNT(*)
 		FROM 
 			TB_QUIZ_CHOICE 
 		WHERE 
 			MEM_NO = #{memNo}
 		AND
 			QUIZ_NO = #{quizNo}

 </select>


</mapper>