<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectMedicine">
		SELECT
			MED_NAME
		FROM
			TB_MED
		WHERE
			MED_NAME LIKE '%'||?||'%'
		
	</entry>
	<entry key="selectMedicineDetail">
		SELECT
			MED_NAME,
			PRE_INFO,
			CAUCTION
		FROM 
			TB_MED
		WHERE 
			MED_NAME = ?
		
	</entry>
	<entry key="insertMedicine">
		INSERT
			INTO
		TB_MED
			VALUES(
				SEQ_TB_MED.NEXTVAL,
				?,
				?,
				?
			)
	</entry>
	<entry key="medCheck">
		SELECT
			MED_NAME
		FROM
			TB_MED
		WHERE
			MED_NAME = ?
		
	</entry>
	<entry key="updateMedicine">
		UPDATE 
			TB_MED
		SET
			MED_NAME = ?,
			PRE_INFO = ?,
			CAUCTION = ?
		WHERE
			MED_NAME = ?
	</entry>
	<entry key="deleteMedicine">
		DELETE
			FROM
				TB_MED
			WHERE
				MED_NAME = ?
				
	</entry>
</properties>