<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectMedicine">
		SELECT
			MED_NAME
		FROM
			TB_MED
		WHERE
			MED_NAME LIKE '%'||?||'%'
	</entry>
	<entry key="selectMedicineDetail">
		SELECT
			MED_NAME,
			PRE_INFO,
			CAUCTION
		FROM 
			TB_MED
		WHERE 
			MED_NAME = ?
		
	</entry>
</properties>