<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd" >
<properties>

<entry key="selectList">

	SELECT 
        MESSAGE_NO, MEM_ID, MESSAGE_TITLE, SEND_DATE, READ_STATUS
    FROM 
        TB_MESSAGE 
    JOIN 
        TB_MEMBER ON(MEM_NO = SENDER)
    WHERE 
        ? = ?
    AND 
        TB_MESSAGE.STATUS = 'Y'
        ORDER BY SEND_DATE DESC

</entry>

<entry key="updateReadStatus">

	UPDATE 
			TB_MESSAGE 
		SET 
			READ_STATUS = 'Y' 
		WHERE 
			MESSAGE_NO = ?

</entry>


<entry key="selectMessage">

SELECT 
        MESSAGE_TITLE, MEM_ID, SEND_DATE, MESSAGE_CONTENT
        
    FROM
        TB_MESSAGE
    JOIN 
        TB_MEMBER ON(MEM_NO = RECEIVER)
    WHERE 
        MESSAGE_NO = ?

</entry>

<entry key="searchMember">

    SELECT 
        	MEM_NO
        FROM 
            TB_MEMBER
        WHERE 
             MEM_ID = ?

</entry>

<entry key="insertMessage">

	INSERT INTO
	            TB_MESSAGE 
	                    (
	                    MESSAGE_NO
	                    , SENDER
	                    , RECEIVER
	                    , MESSAGE_TITLE
	                    , MESSAGE_CONTENT
	                    )
	            VALUES 
	                    (
	                    SEQ_MESSAGE.NEXTVAL
	                    , ?
	                    , ?
	                    , ?
	                    , ?
	                    )

</entry>
</properties>


